<div class="modal fade" id="contaReceberModal" tabindex="-1" role="dialog" aria-labelledby="contaReceberModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #1e1e1e; color: white;">
                <h5 class="modal-title" id="contaReceberModalLabel">Adicionar Conta a Receber</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="background-color: #101331; color: white;">
                <form id="contaReceberForm">
                    {% csrf_token %}
                    {{ inflow_form.as_p }}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
        const tittleValueInput = document.getElementById('id_tittle_value');
        const fineInput = document.getElementById('id_fine');
        const taxInput = document.getElementById('id_tax');
        const feesInput = document.getElementById('id_fees');
        const discountInput = document.getElementById('id_discount');
        const totalValueInput = document.getElementById('id_total_value');
        const checkboxes = document.querySelectorAll('.form-check input[type="checkbox"]:not(#select_all_setor)');


        function updateTotalValue() {
            const tittleValue = parseFloat(tittleValueInput.value) || 0;
            const fine = parseFloat(fineInput.value) || 0;
            const tax = parseFloat(taxInput.value) || 0;
            const fees = parseFloat(feesInput.value) || 0;
            const discount = parseFloat(discountInput.value) || 0;
            const totalValue = (tittleValue + fine + tax + (tittleValue * (fees/100))) - discount;
            totalValueInput.value = totalValue.toFixed(2);
        }

        tittleValueInput.addEventListener('input', updateTotalValue);
        fineInput.addEventListener('input', updateTotalValue);
        taxInput.addEventListener('input', updateTotalValue);
        feesInput.addEventListener('input', updateTotalValue);
        discountInput.addEventListener('input', updateTotalValue);
</script>