{% extends 'base.html' %}

{% block title %}Lançamento Saída{% endblock %}

{% block content %}
<div class="container">
    <h2>Lançamento Saída</h2>
    <form method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">{{ field.label }}</label>
            <div class="col-sm-9">
                {% if field.name == 'cost_center' %}
                    <!-- Customização para Select2 -->
                    <select id="cost_center" class="form-control searchable-dropdown" style="width: 50%;">
                        <option value="">--- Selecione ---</option>
                    </select>
                {% elif field.name == 'chart_of_accounts' %}
                    <!-- Customização para Select2 -->
                    <select class="form-control searchable-dropdown" name="chart_of_accounts" style="width: 35%;">
                        <option value="">--- Selecione ---</option>
                    </select>
                    {% else %}
                    {{ field }}
                    {% endif %}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'cash_outflow' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap 5 JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Select2 JS and CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tittleValueInput = document.getElementById('id_tittle_value');
        const fineInput = document.getElementById('id_fine');
        const discountInput = document.getElementById('id_discount');
        const totalValueInput = document.getElementById('id_total_value');

        function updateTotalValue() {
            const tittleValue = parseFloat(tittleValueInput.value) || 0;
            const fine = parseFloat(fineInput.value) || 0;
            const discount = parseFloat(discountInput.value) || 0;
            const totalValue = (tittleValue + fine) - discount;
            totalValueInput.value = totalValue.toFixed(2);
        }

        tittleValueInput.addEventListener('input', updateTotalValue);
        fineInput.addEventListener('input', updateTotalValue);
        discountInput.addEventListener('input', updateTotalValue);

        $('.searchable-dropdown').select2({
            placeholder: '--- Selecione ---',
            ajax: {
                url: '{% url "get_chart_of_accounts" %}',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        q: params.term  // search term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results
                    };
                },
                cache: true
            },
            minimumInputLength: 0,
        });
            $('#cost_center').select2({
        placeholder: '--- Selecione ---',
        ajax: {
            url: '{% url "get_cost_center" %}',
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term  // search term
                };
            },
            processResults: function (data) {
                return {
                    results: data.results.map(function (item) {
                        return { id: item.id, text: item.text };
                    })
                };
            },
            cache: true
        },
        minimumInputLength: 0,
    });
});
</script>
{% endblock %}