{% extends "base.html" %}

{% block title %}Plano de Contas{% endblock %}

{% block content %}
<div class="container">
    <h2>Plano de Contas</h2>
    {% if perms.financial.add_chartofaccounts %}  {# Permission for adding new PlanoDeContas #}
    <a href="{% url 'chart_of_accounts_add' %}" class="btn btn-primary mb-2">Novo Plano de Contas</a>
    {% endif %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID do Plano</th>
                <th>Categoria</th>
                <th>Subcategoria</th>
                <th>Contábil</th>
                {% if perms.financial.delete_chartofaccounts %} 
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.id_plan }}</td>  
                <td>{{ item.category.name }}</td> 
                <td>{{ item.subcategory.name }}</td> 
                <td>{{ item.accounting.name }}</td> 
                {% if perms.financial.delete_chartofaccounts %}
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn btn-info" href="{% url 'chart_of_accounts_update' item.pk %}">Editar</a></li>
                            <li><a href="{% url 'chart_of_accounts_delete' item.pk %}" class="dropdown-item btn btn-info">Excluir</a></li>
                            
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Bootstrap 5 JS Bundle -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Select2 JS and CSS -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

{% endblock %}
