{% extends "base.html" %}

{% block title %}Plano de Contas{% endblock %}

{% block content %}
<div class="container">
    <h2>Plano de Contas</h2>
    {% if perms.financial.add_chartofaccounts %}  {# Permission for adding new PlanoDeContas #}
    <a href="{% url 'chart_of_accounts_add' %}" class="btn btn-primary mb-2">Novo Plano de Contas</a>
    {% endif %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID do Plano</th>
                <th>Categoria</th>
                <th>Subcategoria</th>
                <th>Contábil</th>
                {% if perms.financial.delete_chartofaccounts %} 
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.id_plan }}</td>  
                <td>{{ item.category.name }}</td> 
                <td>{{ item.subcategory.name }}</td> 
                <td>{{ item.accounting.name }}</td> 
                {% if perms.financial.delete_chartofaccounts %}
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn btn-info" href="{% url 'chart_of_accounts_update' item.pk %}">Editar</a></li>
                            <li><a href="{% url 'chart_of_accounts_delete' item.pk %}" class="dropdown-item btn btn-info">Excluir</a></li>
                            
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
