{% extends 'base.html' %}

{% block title %}Atualizar Cliente{% endblock %}

{% block content %}
<div class="container">
    <h2>Atualizar Cliente</h2>
    <form id="update-form" method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">{{ field.label }}</label>
            <div class="col-sm-9">
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                <a href="{% url 'client_detail' object.pk %}" class="btn btn-primary">Voltar</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
