{% extends "base.html" %}

{% block title %}Categorias Financeiras{% endblock %}

{% block content %}
<div class="container">
    <h2>Categorias Financeiras</h2>
    {% if perms.financial.add_financialcategory %}
    <a href="{% url 'financial_category_add' %}" class="btn btn-primary mb-2">Nova Categoria Financeira</a>
    {% endif %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Categoria Financeira</th>
                {% if perms.financial.delete_financialcategory %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.name }}</td>
                {% if perms.financial.delete_financialcategory %}
                <td>
                    <a href="{% url 'financial_category_delete' item.pk %}" class="btn btn-confirm-excluir">Excluir</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
