{% extends "base.html" %}

{% block title %}Centros de Receita{% endblock %}

{% block content %}
<div class="container">
    <h2>Centros de Receita</h2>
    {% if perms.financial.add_revenuecenter %}
    <a href="{% url 'revenuecenter_add' %}" class="btn btn-primary mb-2">Novo Centro de Receita</a>
    {% endif %}
    <form method="get" action="">
        <div class="row mb-3">
            <div class="col-md-4 mb-2">
                <input type="text" id="name-revenuecenter" class="form-control" name="name" placeholder="Centro de Receita" value="{{ request.GET.name }}">
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Centro de Receita</th>
                <th>Diretoria</th>
                <th>Área</th>
                <th>Área Final</th>
                {% if perms.financial.delete_revenuecenter %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.id_center }}</td>
                <td>{{ item.sector }}</td>
                <td>{{ item.area }}</td>
                <td>{{ item.final_area }}</td>
                {% if perms.financial.delete_revenuecenter %}
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item btn btn-info" href="{% url 'revenuecenter_update' item.pk %}">Editar</a></li>
                            <li><a href="{% url 'revenuecenter_delete' item.pk %}" class="dropdown-item btn btn-info">Excluir</a></li>
                            
                        </ul>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
