{% extends "base.html" %}

{% block title %}Lista de Entradas{% endblock %}

{% block content %}
<div class="container">
    <h2>Entradas</h2>
    <div class="mb-2">
        {% if perms.stock.add_inflow %}
        <a href="{% url 'inflow_add' %}" class="btn btn-primary">Novo Item</a>
    {% endif %}
    <button id="toggleRelatorioBtn" class="btn btn-success">
        <i class="bi bi-file-earmark-text"></i> Relatório
    </button>
    </div>
    <!-- Seção de geração de relatório escondida inicialmente -->
    <div id="relatorioSection" class="mb-4" style="display: none;">
        <form  id="relatorioForm" method="GET" action="{% url 'generate_inflow_report' %}" target="popupRelatorio" onsubmit="openPopup(); return false;">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label for="filtro_periodo">Filtrar por:</label>
                    <select id="filtro_periodo" name="filtro_periodo" class="form-control form-control-sm">
                        <option value="anual" {% if filtro_periodo == 'anual' %}selected{% endif %}>Anual</option>
                        <option value="trimestral" {% if filtro_periodo == 'trimestral' %}selected{% endif %}>Trimestral</option>
                        <option value="mensal" {% if filtro_periodo == 'mensal' %}selected{% endif %}>Mensal</option>
                        <option value="diario" {% if filtro_periodo == 'diario' %}selected{% endif %}>Diário</option>
                        <option value="personalizado" {% if filtro_periodo == 'personalizado' %}selected{% endif %}>Personalizado</option>
                    </select>
                </div>

                <div class="col-auto" id="filtro-ano">
                    <label for="ano">Ano:</label>
                    <input type="number" id="ano" name="ano" class="form-control form-control-sm" value="{{ ano }}" min="2000" max="{{ current_year }}">
                </div>

                <div class="col-auto" id="filtro-trimestre" style="display: {% if filtro_periodo == 'trimestral' %}block{% else %}none{% endif %};">
                    <label for="trimestre">Trimestre:</label>
                    <select id="trimestre" name="trimestre" class="form-control form-control-sm">
                        <option value="1" {% if trimestre == 1 %}selected{% endif %}>1º Trimestre (Jan-Mar)</option>
                        <option value="2" {% if trimestre == 2 %}selected{% endif %}>2º Trimestre (Abr-Jun)</option>
                        <option value="3" {% if trimestre == 3 %}selected{% endif %}>3º Trimestre (Jul-Set)</option>
                        <option value="4" {% if trimestre == 4 %}selected{% endif %}>4º Trimestre (Out-Dez)</option>
                    </select>
                </div>

                <div class="col-auto" id="filtro-mes" style="display: {% if filtro_periodo == 'mensal' or filtro_periodo == 'diario' %}block{% else %}none{% endif %};">
                    <label for="mes">Mês:</label>
                    <select id="mes" name="mes" class="form-control form-control-sm">
                        <option value="1" {% if mes == 1 %}selected{% endif %}>Janeiro</option>
                        <option value="2" {% if mes == 2 %}selected{% endif %}>Fevereiro</option>
                        <option value="3" {% if mes == 3 %}selected{% endif %}>Março</option>
                        <option value="4" {% if mes == 4 %}selected{% endif %}>Abril</option>
                        <option value="5" {% if mes == 5 %}selected{% endif %}>Maio</option>
                        <option value="6" {% if mes == 6 %}selected{% endif %}>Junho</option>
                        <option value="7" {% if mes == 7 %}selected{% endif %}>Julho</option>
                        <option value="8" {% if mes == 8 %}selected{% endif %}>Agosto</option>
                        <option value="9" {% if mes == 9 %}selected{% endif %}>Setembro</option>
                        <option value="10" {% if mes == 10 %}selected{% endif %}>Outubro</option>
                        <option value="11" {% if mes == 11 %}selected{% endif %}>Novembro</option>
                        <option value="12" {% if mes == 12 %}selected{% endif %}>Dezembro</option>
                    </select>
                </div>

                <div class="col-auto" id="filtro-dia" style="display: {% if filtro_periodo == 'diario' %}block{% else %}none{% endif %};">
                    <label for="dia">Dia:</label>
                    <input type="number" id="dia" name="dia" class="form-control form-control-sm" value="{{ dia }}" min="1" max="31">
                </div>

                <div class="col-auto" id="filtro-data-inicio" style="display: {% if filtro_periodo == 'personalizado' %}block{% else %}none{% endif %};">
                    <label for="data_inicio">Data Início:</label>
                    <input type="date" id="data_inicio" name="data_inicio" class="form-control form-control-sm" value="{{ request.GET.data_inicio }}">
                </div>

                <div class="col-auto" id="filtro-data-fim" style="display: {% if filtro_periodo == 'personalizado' %}block{% else %}none{% endif %};">
                    <label for="data_fim">Data Fim:</label>
                    <input type="date" id="data_fim" name="data_fim" class="form-control form-control-sm" value="{{ request.GET.data_fim }}">
                </div>

                <div class="col-auto align-self-end">
                    <button type="submit" class="btn btn-sm btn-success">Gerar Relatório</button>
                </div>
            </div>
        </form>
    </div>
    <form method="get" action="">
        <div class="row mb-3">
            <div class="col-md-4 mb-2">
                <input type="text" class="form-control" id="itemFilter" name="item__name" placeholder="Nome do Item" value="{{ request.GET.item__name }}">
            </div>
            <div class="col-md-4 mb-2">
                <input type="date" class="form-control" name="date" placeholder="Data" value="{{ request.GET.date }}">
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Item</th>
                        <th>Validade</th>
                        <th>Nota Fiscal</th>
                        <th>Estoque Destinado</th>
                        <th>Custo Unitario</th>
                        <th>Quantidade</th>
                        <th>Custo Total</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in itens %}
                    <tr>
                        <td>{{ item.date|date:"d/m/Y" }}</td>
                        <td class="text-center">{{ item.item }}</td>
                        <td>{{ item.validade|date:"d/m/Y" }}</td>
                        <td class="text-center">{{ item.invoice }}</td>
                        <td class="text-center">{{ item.target_stock }}</td>
                        <td class="telefone">{{ item.unit_cost }}</td>
                        <td>{{ item.quantity }}</td>
                        <td class="telefone">{{ item.total_cost }}</td>
                        <td>
                            <a href="{% url 'inflow_detail' item.pk %}" class="btn btn-sm btn-info">Detalhes</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    document.getElementById('filtro_periodo').addEventListener('change', function() {
        var filtroPeriodo = this.value;
        document.getElementById('filtro-trimestre').style.display = (filtroPeriodo === 'trimestral') ? 'block' : 'none';
        document.getElementById('filtro-mes').style.display = (filtroPeriodo === 'mensal' || filtroPeriodo === 'diario') ? 'block' : 'none';
        document.getElementById('filtro-dia').style.display = (filtroPeriodo === 'diario') ? 'block' : 'none';
        document.getElementById('filtro-ano').style.display = (filtroPeriodo === 'personalizado') ? 'none' : 'block';
        document.getElementById('filtro-data-inicio').style.display = (filtroPeriodo === 'personalizado') ? 'block' : 'none';
        document.getElementById('filtro-data-fim').style.display = (filtroPeriodo === 'personalizado') ? 'block' : 'none';
    });

    document.getElementById('toggleRelatorioBtn').addEventListener('click', function() {
        var relatorioSection = document.getElementById('relatorioSection');
        relatorioSection.style.display = (relatorioSection.style.display === 'none' || relatorioSection.style.display === '') ? 'block' : 'none';
    });

    document.getElementById('filtro_periodo').dispatchEvent(new Event('change'));
$(function() {
    $("#itemFilter").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "{% url 'inflow_autocomplete' %}",
                data: {
                    'term': request.term
                },
                dataType: 'json',
                success: function(data) {
                    response(data);
                }
            });
        },
        minLength: 2,
    });
});
function openPopup() {
        // Abre a nova janela com um nome e especificações
        window.open('', 'popupRelatorio', 'width=800,height=600');
        document.getElementById('relatorioForm').submit(); // Submete o formulário no popup
    }

</script>
{% endblock %}
