{% extends "base.html" %}

{% block title %}Lista de Itens{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container">
    <h2>Itens do Estoque</h2>
    {% if perms.stock.add_item%}
    <a href="{% url 'item_add' %}" class="btn btn-primary mb-2">Novo Item</a>
    {% endif %}
    <form method="get" action="">
        <div class="row mb-3">
            <div class="col-md-4 mb-2">
                <input type="text" class="form-control" id="nomenclatureFilter" name="nomenclature"
                    placeholder="Nomenclatura" value="{{ request.GET.nomenclature }}">
            </div>
            <div class="col-md-4 mb-2">
                <input type="date" class="form-control" name="data" placeholder="Data" value="{{ request.GET.data }}">
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id Item</th>
                <th>Data de Cadastro</th>
                <th>Nomenclatura</th>
                <th>Item</th>
                <th>Forma de Apresentação</th>
                <th>Setores</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.date|date:"d/m/Y" }}</td>
                <td class="text-center">{{ item.nomenclature }}</td>
                <td class="text-center">{{ item.name }}</td>
                <td class="text-center">{{ item.presentation }}</td>
                <td>
                    {% for sector in item.sector.all %}
                    {{ sector }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'item_detail' item.pk %}" class="btn btn-sm btn-info">Detalhes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(function () {
        $("#nomenclatureFilter").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "{% url 'item_autocomplete' %}",
                    data: {
                        'term': request.term
                    },
                    dataType: 'json',
                    success: function (data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });
    });
</script>

{% endblock %}