{% extends 'base.html' %}

{% block title %}Detalhes da Saida{% endblock %}

{% block content %}
<div class="container">
    <h2>Detalhes do Item</h2>
    <p><strong>Data:</strong> {{ object.date|date:"d/m/Y" }}</p>
    <p><strong>Produto:</strong> {{ object.item }}</p>
    <p><strong>Setor:</strong> {{ object.sector }}</p>
    <p><strong>Requisitante:</strong> {{ object.requester}}</p>
    <p><strong>Quantidade:</strong> {{ object.quantity}}</p>
    <p><strong>Estoque de Origem:</strong> {{ object.source_stock}}</p>
    <p><strong>Estoque de Destino:</strong> {{ object.target_stock}}</p>
    
    
    {% if perms.stock.change_outflow %}
    <a href="{% url 'outflow_update' object.pk %}" class="btn btn-primary">Editar</a>
    {% endif %}
    <a href="{% url 'outflow' %}" class="btn btn-primary">Voltar</a>
    {% if perms.stock.delete_outflow %}
    <a href="{% url 'outflow_delete' object.pk %}" class="btn btn-confirm-excluir">Excluir</a>
    {% endif %}
</div>
{% endblock %}
