{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h2>Nova Ordem de Compra</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}


        <!-- Campos do formulário -->
        {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <div class="col-sm-9">
                {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <!-- Botões de ação -->
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'purchase' %}" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
