{% extends "base.html" %}

{% block title %}Requisitantes{% endblock %}

{% block content %}
<div class="container">
    <h2>Requisitantes</h2>
    {% if perms.stock.add_requester%}
    <a href="{% url 'requester_add' %}" class="btn btn-primary mb-2">Novo Requisitante</a>
    {% endif  %}
    <form method="get" action="">
        <div class="row mb-3">
            <div class="col-md-4 mb-2">
                <input type="text" id="name-requester" class="form-control" name="name" placeholder="Requisitante" value="{{ request.GET.name}}">
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Requisitantes</th>
                <th>Setor</th>
                <th>Unidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td class="text-center">{{ item.full_name }}</td>
                <td>
                    {% for sector in item.sector.all %}
                        {{ sector }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td class="text-center">
                    {% for unit in item.unit.all %}
                        {{ unit }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ações</button>
                        <ul class="dropdown-menu">
                            {% if perms.stock.delete_requester%}
                            <li><a href="{% url 'requester_delete' item.pk %}" class="btn">Excluir</a></li>
                            {% endif %}
                            {% if perms.stock.change_requester%}
                            <li><a href="{% url 'requester_update' item.pk %}" class="btn">Editar</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(function() {
        $("#name-requester").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'requester_autocomplete' %}",
                    data: {
                        'term': request.term
                    },
                    dataType: 'json',
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });
    });
    </script>
{% endblock %}
