{% extends "base.html" %}

{% block title %}Setores{% endblock %}

{% block content %}
<div class="container">
    <h2>Setores</h2>
    {% if perms.stock.add_sector %}
    <a href="{% url 'sector_add' %}" class="btn btn-primary mb-2">Novo Setor</a>
    {% endif %}
    <form method="get" action="">
        <div class="row mb-3">
            <div class="col-md-4 mb-2">
                <input type="text" id="name-sector" class="form-control" name="name" placeholder="Setor" value="{{ request.GET.name}}">
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>
    <table class="table table-dark table-striped">
        <thead>
            <tr>

                <th>Setor</th>
                {% if perms.stock.delete_sector%}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>

                <td>{{ item.name }}</td>
                {% if perms.stock.delete_sector%}
                <td>
                    <a href="{%url 'sector_delete' item.pk %}" class="btn btn-confirm-excluir">Excluir</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(function() {
        $("#name-sector").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'sector_autocomplete' %}",
                    data: {
                        'term': request.term
                    },
                    dataType: 'json',
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });
    });
    </script>
{% endblock %}