{% extends 'base.html' %}

{% block title %}Ordem de Serviço {% endblock %}

{% block content %}
<div class="container">
    <h2>Ordem de Serviço</h2>
    <p><strong>Data de Solicitação:</strong> {{ object.solicitation_date|date:"d/m/Y"}}</p>
    <p><strong>Serviço:</strong> {{ object.service}}</p>
    <p><strong>Status:</strong> {{ object.status}}</p>
    <p><strong>Unidade:</strong> {{ object.unit }}</p>
    <p><strong>Setor:</strong> {{ object.sector}}</p>
    <p><strong>Fornecedor:</strong> {{ object.supplier}}</p>
    <p><strong>Descrição:</strong> {{ object.description}}</p>
    <p><strong>Data de Início:</strong> {{ object.start_date|date:"d/m/Y"}}</p>
    <p><strong>Previsão de Entrega:</strong> {{ object.delivery_forecast|date:"d/m/Y"}}</p>
    <p><strong>Data de Entrega:</strong> {{ object.delivery_date|date:"d/m/Y"}}</p>
    <p><strong>Feedback:</strong> {{ object.feedback}}</p>
    
    {% if perms.stock.change_serviceorder%}
    <a href="{% url 'service_update' object.pk %}" class="btn btn-primary">Editar</a>
    {% endif %}
    <a href="{% url 'service' %}" class="btn btn-primary">Voltar</a>
    {% if perms.stock.delete_serviceorder %}
    <a href="{% url 'service_delete'   object.pk %}" class="btn btn-danger">Excluir</a>
    {% endif %}
</div>
{% endblock %}
