{% extends 'base.html' %}

{% block title %}Adicionar Fornecedor{% endblock %}

{% block content %}
<div class="container">
    <h2>Adicionar Fornecedor</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <label class="col-sm-3 col-form-label">{{ field.label }}</label>
            <div class="col-sm-9">
                {{ field }}
                {% if field.name == 'cnpj' %}
                <button type="button" id="request-cnpj" class="btn btn-primary">Consultar</button>
                {% endif %}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="form-group row">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'supplier' %}" class="btn btn-primary">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script>
    function applyMaskCNPJ(cnpj) {
        cnpj = cnpj.replace(/\D/g, "");
        cnpj = cnpj.replace(/(\d{2})(\d)/, "$1.$2");
        cnpj = cnpj.replace(/(\d{3})(\d)/, "$1.$2");
        cnpj = cnpj.replace(/(\d{3})(\d)/, "$1/$2");
        cnpj = cnpj.replace(/(\d{4})(\d)/, "$1-$2");
        return cnpj;
    }


    // Aplica máscara de CNPJ ao digitar ou ao perder o foco
    const cnpjInput = document.querySelector('input[name="cnpj"]');
    cnpjInput.addEventListener('input', function() {
        this.value = applyMaskCNPJ(this.value);
    });
    cnpjInput.addEventListener('blur', function() {
        this.value = applyMaskCNPJ(this.value);
    });


    document.getElementById('request-cnpj').addEventListener('click', function() {
        const cnpj = cnpjInput.value.replace(/\D/g, ''); // Retira qualquer formatação
        if (cnpj) {
            fetch(`/request-cnpj/${cnpj}/`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        console.log(data);
                        document.querySelector('input[name="corporate_reason"]').value = data.name;
                        document.querySelector('textarea[name="address"]').value = `${data.street}, ${data.number} ${data.complement}, ${data.neighborhood}, ${data.city}, ${data.state}`;
                        phoneInput.value = aplicarMascaraTelefone(data.phone);
                        document.querySelector('input[name="email"]').value = data.email;
                    }
                })
                
        } else {
            alert('Por favor, insira um CNPJ.');
        }
    });
</script>
{% endblock %}
