{% extends 'base.html' %}

{% block title %}Detalhes Fornecedor{% endblock %}

{% block content %}
<div class="container">
    <h2>Detalhes do Fornecedor</h2>
    <p><strong>Nome:</strong> {{ object.name}}</p>
    <p><strong>CNPJ:</strong> {{ object.cnpj}}</p>
    <p><strong>Razão Social:</strong> {{ object.corporate_reason }}</p>
    <p><strong>Endereço:</strong> {{ object.address }}</p>
    <p><strong>Vendedor:</strong> {{ object.seller}}</p>
    <p><strong>Email:</strong> {{ object.email}}</p>
    <p><strong>Telefone:</strong> {{ object.phone_number}}</p>
    
    
    {% if perms.stock.change_supplier %}
    <a href="{% url 'supplier_update' object.pk %}" class="btn btn-primary">Editar</a>
    {% endif %}
    <a href="{% url 'supplier' %}" class="btn btn-primary">Voltar</a>
    {% if perms.stock.delete_supplier %}
    <a href="{% url 'supplier_delete' object.pk %}" class="btn btn-confirm-excluir">Excluir</a>
    {% endif %}
</div>
{% endblock %}
