{% extends "base.html" %}

{% block title %}Unidade{% endblock %}

{% block content %}
<div class="container">
    <h2>Unidades</h2>
    {% if perms.stock.add_unit %}
    <a href="{% url 'unit_add' %}" class="btn btn-primary mb-2">Nova Unidade</a>
    {% endif %}
    
    <form method="get" action="">
        <div class="row mb-3">
            <div class="col-md-4 mb-2">
                <input type="text" id="name-unit" class="form-control" name="name" placeholder="Unidade" value="{{ request.GET.name }}">
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <button type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-search"></i> Filtrar
                </button>
            </div>
        </div>
    </form>
    
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Unidade</th>
                {% if perms.stock.delete_unit %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.name }}</td>
                {% if perms.stock.delete_unit%}
                <td>
                    <a href="{% url 'unit_delete' item.pk %}" class="btn btn-confirm-excluir">Excluir</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(function() {
        $("#name-unit").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "{% url 'unit_autocomplete' %}",
                    data: {
                        'term': request.term
                    },
                    dataType: 'json',
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
        });
    });
</script>
{% endblock %}